.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.page header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    max-width: 900px;
}
.form{
    display: flex;
    flex-direction: row;
}
main{
    display: flex;
    justify-content: center;
    width: 90%;
}